<template>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form action="">
        <div class="form-group">
          <label for="quote-text">Quote</label>
          <textarea class="form-control" id="quote-text" rows="3" v-model="quote"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" @click.prevent="createNew">
            Add Quote
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>

  export default {
    data(){
      return {
        quote: '',
      }
    },
    methods: {
      createNew() {
        this.$emit('quoteAdded', this.quote);
        this.quote = '';
      }
    }
  };

</script>

<style scoped>

</style>
